<div class="activity-text">
{{#link-to 'group' activity.relatedRecord.id}} {{activity.relatedRecord.name}} {{/link-to}}
{{t 'created.by'}}
{{#link-to 'user' activity.relatedActor.id}}{{activity.relatedActor.displayName}}{{/link-to}}
</div>