<!-- home-carousel -->
<div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="7000">

  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>

  <!-- carousel-inner -->
  <div class="carousel-inner">

    <!-- carousel-item-01 -->
    <div class="item active" style="background: url('/theme/assets/img/home-slide-01.jpg') center;">
      <a href="https://cursos.atencaobasica.org.br/sobre"
         style="position: absolute; width: 66%; height: 530px; top: 0; left: 18%; z-index: 999">
      </a>
    </div>
    <!-- /carousel-item-01 -->

    <!-- carousel-item-02 -->
    <div class="item" style="background: url('/theme/assets/img/home-slide-02.jpg') center;">
      <a href="https://blog.atencaobasica.org.br/2014/12/01/novidades-da-comunidade"
      style="position: absolute; width: 66%; height: 530px; top: 0; left: 18%; z-index: 999">
      </a>
    </div>
    <!-- /carousel-item-02 -->

    <!-- carousel-item-03 -->
    <div class="item" style="background: url('/theme/assets/img/home-slide-03.jpg') center;">
      <a href="https://blog.atencaobasica.org.br/2014/12/01/trocando-ideias-sobre-os-resultados-do-2o-ciclo-do-pmaq/"
      style="position: absolute; width: 66%; height: 530px; top: 0; left: 18%; z-index: 999">
      </a>
    </div>
    <!-- /carousel-item-03 -->

  </div>
  <!-- /carousel-inner -->

  <!-- controls -->
  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
    <i style="font-size: 3em;" class="fa fa-angle-left"></i>
  </a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
    <i style="font-size: 3em;" class="fa fa-angle-right"></i>
  </a>
  <!-- /controls -->
</div>
<!-- /home-carousel -->