{{#if members}}
  <div class="widget-header">
    <h4>{{title}}</h4>
    <p>{{subtitle}}</p>
  </div>
  <div class="widget-content">
    {{#each members}}
      {{#link-to 'user' memberId classNames="member-link"}}
        {{user-avatar user=relatedRecord size="thumbnail" classNames="img-circle" width=null}}
      {{/link-to}}
    {{/each}}
  </div>
  <div class="widget-footer clearfix">
    {{#link-to 'group.members' groupId classNames="btn"}}
      Ver Todos
    {{/link-to}}
  </div>
{{/if}}