<div class="groups row">
  <div class="col-md-12">
    <h3>Encontrar Grupos</h3>
  </div>
  {{#each record in records}}
    <div class="col-md-3">
      {{render 'group/teaser' record}}
    </div>
  {{else}}
    <div class="col-md-12">
      <p>{{t 'No groups found'}}</p>
    </div>
  {{/each}}
</div>