{{#if users}}
  <h3>Membros Relacionados</h3>

  <div class="content user-list">
    {{#each users}}
      {{#link-to 'user' id}}
        <span class="img-wrapper">
          {{user-avatar user=this size="thumbnail" classNames="img-circle"}}
        </span>
        <h4 class="nome">{{substr displayName max=10}}</h4>
      {{/link-to}}
    {{/each}}
  </div>
{{/if}}
