<div id="activities" class="activities">
  {{#each}}
    {{we-activity-item activity=this}}
  {{else}}
    {{#unless activityIsLoading}}
      <br>
      <div class="alert alert-warning text-center" role="alert">
        Nenhum conteúdo encontrado
      </div>
    {{/unless}}
  {{/each}}
</div>
