<hr>
<div class="footer" id="footer">
  <div class="row">
    <div class="col-sm-6">
      <a href="https://github.com/wejs" target="_blank">Github</a> <small class="text-muted">|</small> <a href="https://wejs.org" target="_blank">Site</a>
    </div>
    <div class="col-sm-6">
      <p>
      <span class="pull-right">
         Theme
        <a href="https://github.com/IronSummitMedia/startbootstrap/tree/gh-pages/templates/sb-admin" target="_blank">SB Admin</a>
      </span>
      </p>
    </div>
  </div>
</div>

<hr>
<h4 class="text-center">
  <a href="https://github.com/wejs/we" target="ext">We.js</a>
</h4>
