<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Admin</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right"></ul>
    <!-- /.navbar-top-links -->

    {{partial 'partials/sidebar'}}
</div>
