
{{!-- sidebar --}}
<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		{{we-menu menuName="admin" classNames="nav-colapsable" enableMetisMenu=true}}
	</div>
</div>
