
<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Regions length
      </th>
      <th>
        Regions names
      </th>
    </tr>
  </thead>
{{#each records}}
  <tbody>
    <tr>
      <td>
        {{#link-to 'layout' id}}
          {{name}}
        {{/link-to}}
      </td>

      <td>
        {{regions.length}}
      </td>

      <td>
        {{#each regions}}
          {{name}},
        {{/each}}
      </td>

    </tr>
  </tbody>
{{/each}}

</table>