{{#if locals.user}}
<div class="user-data text-center">
  {{{we-image locals.user.avatar 'medium' class="img-thumbnail"}}}
  <div>
    <h1 class="user-displayName">{{locals.user.displayName}}</h1>
    <p>{{#each locals.user.organization}}{{this}}{{/each}}</p>
  </div>
</div>
<div class="clearfix"></div>
{{/if}}