<div class="wrapper" id="main">
  {{partial "partials/navbar" }}

  <div id="page-wrapper">
    <br>
    {{bread-crumbs}}

    {{outlet}}

    <br><br><br><br><br>

    {{partial 'partials/footer' }}
  </div>
  <hr>
</div>