<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Id</th>
        {{#each attributes}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each record in records}}
        <tr>
          <td>
          {{record.id}}
          </td>
        {{#each attribute in ../attributes}}
          <td>
            {{sub-atribute ../record attribute}}
          </td>
        {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

