<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <tbody>
    {{#each}}
      <tr>
          <td>/index.html</td>
          <td>1265</td>
          <td>32.3%</td>
          <td>$321.33</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

