<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Edit</a></li>
  <li role="presentation"><a href="#">Privacity</a></li>
</ul>
<div class="tab-content">
  <br>
  {{{form-model 'user' data validationError}}}
</div>