<div class="users">
{{#we-grid items=data cols=3}}
  <div class="user-list-item text-center">
  {{#link-to 'user.findOne' id}}
    {{#if avatar}}
      {{we-image avatar 'medium' width="100%"}}
    {{else}}
      <img src="/avatar/{{id}}" width="100%">
    {{/if}}

    <h3>{{displayName}}</h3>
  {{/link-to}}
  </div>
{{/we-grid}}
</div>