<div class="user-banner"
  {{#if data.banner}}{{#each data.banner}}
    style="background-image: url('{{urls.original}}');"
  {{/each}}{{/if}}
>
&nbsp;
</div>

<div class="clearfix"></div>
<div class="user-biography">{{{data.biography}}}</div>