{{!-- {{#each links}}
  <li>
    {{#link-to name}}
      {{label}}
    {{/link-to}}
  </li>
{{/each}}
<li class="divider"></li> --}}
{{!-- <li class="divider"></li>
{{#each modelLinks}}
  <li>
    {{#link-to 'model' model}}
      {{text}}
    {{/link-to}}
  </li>
{{/each}} --}}
{{!--
<li class="divider"></li>
<li>
  <a href="#">
    <i class="fa fa-sitemap fa-fw"></i>
    Structure
    <span class="fa arrow"></span>
  </a>

  <ul class="nav nav-second-level">
    <li>
      {{#link-to 'pages' }}
        Pages
        <span class="fa arrow"></span>
      {{/link-to}}

      <ul class="nav nav-third-level">
        <li>
          {{#link-to 'pages.create' }}
            Create page
          {{/link-to}}
        </li>
      </ul>
    </li>

    <li>
      {{#link-to 'layouts' }}
        Layouts
        <span class="fa arrow"></span>
      {{/link-to}}

      <ul class="nav nav-third-level">
        <li>
          {{#link-to 'layouts.create' }}
            Create layout
          {{/link-to}}
        </li>
      </ul>
    </li>
  </ul>
</li> --}}