<div class="text-center">
  <p>{{{t deleteMsg}}}</p>
  <form method="post">
    <button class="btn btn-danger">{{t 'Delete'}}</button>
    <input name="redirectTo" type="hidden" value="{{deleteRedirectUrl}}">
  </form>
</div>