<table class="table table-striped table-hover">
  <tbody>
    {{#each data.dataValues }}
      <tr>
        <th>{{@key}}</th>
        <td>{{this}}</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <td colspan="2">
      {{we-action-edit-btn resourceName data req data.id}}
      {{we-action-delete-btn resourceName data req data.id}}
    </td>
  </tfoot>
</table>