we-region,
widget {
  display: block;
}
.we-region-actions {
  display: none;
  padding: 4px;
  background-color: gold;
  border: 2px outset salmon;
}


.we-region-widget-actions {
  display: none;
  padding: 4px;
  background-color: lightblue;
}

.system-actions {
  display: block;
  position: fixed;
  bottom: 0px;
  margin-left: 2px;
  z-index: 5;
}
.system-actions > div {
  display: inline;
}
/*
.we-admin-btn {
  display: block;
  position: fixed;
  bottom: 0px;
  margin-left: 2px;
}*/

body.we-editing-layout .we-region-actions,
body.we-editing-layout .we-region-widget-actions {
  display: block;
}


body.we-editing-layout .widget {
  border: 2px dashed transparent;
  display: block;
}

body.we-editing-layout .widget:hover{
  border-color: chocolate;
}

.modal-body .container {
  display: block;
  width: auto;
}

a.tabledrag-handle .handle {
  height: 25px !important;
  width: 25px !important;
}

/* side menu */

.li-submenu ul {
  border-left: 10px solid #ddd;
  padding-left: 3px;
  display: none;
}

.li-submenu.active ul {
  display: block;
}