we-region,
widget {
  display: block;
}
.we-region-actions {
  display: none;
  padding: 4px;
  background-color: gold;
  border: 2px outset salmon;
}


.we-region-widget-actions {
  display: none;
  padding: 4px;
  background-color: lightblue;
}

.system-actions {
  display: block;
  position: fixed;
  bottom: 0px;
  margin-left: 2px;
  z-index: 5;
}
.system-actions > div {
  display: inline;
}
/*
.we-admin-btn {
  display: block;
  position: fixed;
  bottom: 0px;
  margin-left: 2px;
}*/

body.we-editing-layout .we-region-actions,
body.we-editing-layout .we-region-widget-actions {
  display: block;
}


body.we-editing-layout .widget {
  border: 2px dashed transparent;
  display: block;
}

body.we-editing-layout .widget:hover{
  border-color: chocolate;
}

.modal-body .container {
  display: block;
  width: auto;
}

a.tabledrag-handle .handle {
  height: 25px !important;
  width: 25px !important;
}

/* side menu */

.li-submenu ul {
  border-left: 10px solid #ddd;
  padding-left: 3px;
  display: none;
}

.li-submenu.active ul {
  display: block;
}

#skippy {
  padding: 5px;
  color: #000;
  background-color: #fff;
  /*outline: 0;*/
  font-weight: bold;
  border: 1px solid #000;
  margin: 2px 3px;
}

.sr-only-focusable {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

.sr-only-focusable:active,
.sr-only-focusable:focus,
.sr-only-focusable:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}

.tab-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0px;
  padding: 15px;
  margin-bottom: 10px;
}

#ui-datepicker-div {
  z-index: 1001;
}